<section class="forms">
   <h1 class="cadastrado">Usuário Cadastrado com sucesso!</h1>
   <h2 class="parabens">Parabéns você já pode efetuar suas compras!</h2>
   <button class="submitDados"><a href="/">Produtos</a></button>
</section>