*{
   text-decoration: none;
   border: 0;
   margin: 0;
   letter-spacing: 3px;
}

.background-color-red {
   background-color: #E8180C;
   color: white;
   padding: 5px 20px;
}

.background-color-gray {
   background-color: #f8f8f8;
}

.padding-title {
   padding-top: 10px;
}

.font-family {
   font-family: 'Courier New', Courier, monospace;
}

.paralax-height {
   height: 700px;
}

.img-height {
   height: 320px;
}

.cadastrado {
   color: rgb(97, 89, 89);
   font-size: 30px;
}

.parabens {
   font-size: 30px;
   text-decoration: underline;
}