.button-red{
    background-color: #E8180C;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.button-green{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.color-white{
    color: black;
    font-weight: 700;
}